<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>Welcome to node App</h3>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolore cumque corrupti atque consequatur excepturi, repudiandae aut quod, ad quidem minima eveniet odit in blanditiis dolor! Distinctio cupiditate quam sit voluptas ipsam aliquam autem asperiores doloremque sed nulla laborum eligendi, repellendus pariatur nostrum adipisci unde fugiat! Et nobis, tenetur unde quas sit dolore corporis voluptate! Itaque architecto cumque temporibus impedit molestias nobis saepe nisi nesciunt tenetur, asperiores at nostrum nulla aut, sed dolores hic cupiditate odio a exercitationem perspiciatis id, repudiandae deserunt porro quam. Exercitationem, nostrum accusantium quo expedita labore atque laboriosam esse delectus ab officia alias fugit natus modi!</p>
</body>
</html>