<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="page-contetn">
    <div class="product-page">
      <div class="desc">
        <div class="product-desc-image">
          <img src="" alt="">
        </div>
        <div class="product-details-info">
          <h1>{{%NAME%}}</h1>
          <h2>$1299</h2>
          <div class="product-descodetails">
            <h3>Details</h3>
            <p>11.9cm </p>
            <p>12mp cam</p>
            <p>model name: iphone</p>
            <p>rom: 12gb</p>
              <p><span>age:</span> {{%AGE%}}</p>
              <p><span>EMAIL:</span> {{%EMAIL%}}</p>
              <p><span>is active: </span> {{%ACTIVE%}}</p>
          </div>
          <a href="/product">back</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>