<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="product-specs">
    <p>hello</p>
    <h3>{{%NAME%}}</h3>
    <p><span>age:</span> {{%AGE%}}</p>
    <p><span>EMAIL:</span> {{%EMAIL%}}</p>
    <p><span>is active: </span> {{%ACTIVE%}}</p>

   <a href="/product?id={{%ID%}}"><button class="btn btn-secondary">Show details</button></a>

  </div>
</body>
</html>